<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.5.1" targetFramework="net461" />
  <package id="Apache.NMS.Stomp" version="1.5.4" targetFramework="net461" />
  <package id="Microsoft.Build.Framework" version="16.10.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="StompClient" version="0.1.0" targetFramework="net461" />
  <package id="syp.biz.SockJS.NET.Client" version="1.4.0" targetFramework="net461" />
  <package id="syp.biz.SockJS.NET.Common" version="1.4.0" targetFramework="net461" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net461" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" targetFramework="net461" />
  <package id="WebSocketSharp-NonPreRelease" version="1.0.0" targetFramework="net461" />
</packages>